<template>
  <section class="pb-3">
    <div class="row pl-2" style="
    padding-left: 0px;
    margin-left: 0px;">
      <div class="col-6">
        <select class="form-control" v-model="selectedCity">
          <option v-for="ciutat in llistaCiutats" v-bind:key="ciutat">{{ciutat}}</option>
        </select>
      </div>
    </div>
    <CurrentWeather v-bind:ciudad-selecionada=selectedCity></CurrentWeather>
    <Forecast v-bind:ciudad-selecionada=selectedCity></Forecast>
  </section>
</template>

<script>
import CurrentWeather from "@/components/CurrentWeather";
import Forecast from "@/components/Forecast";


export default {
  name: "InfoMeteo",
  props:{
    llistaCiutats:Array,
    continent: Array,
  },
  data: function (){
    return{
      selectedCity:this.llistaCiutats[0]
    }
  },

  mounted: function () {
    return{
      selectedCity:this.llistaCiutats[0]
    }
  },

  components: {
    CurrentWeather,
    Forecast
  }
}
</script>

<style scoped>


</style>