<template>
  <div id="app">
    <div class="container">
        <h1 class="title container">City Weather</h1>
        <InfoMeteo v-bind:llista-ciutats="europa"></InfoMeteo>
        <InfoMeteo v-bind:llista-ciutats="asia"></InfoMeteo>
        <InfoMeteo v-bind:llista-ciutats="africa"></InfoMeteo>
        <InfoMeteo v-bind:llista-ciutats="america"></InfoMeteo>
    </div>
  </div>
</template>

<script>
import InfoMeteo from './components/InfoMeteo.vue'

export default {
  name: 'App',
  data: function () {
    return {
      selectedContinente: "todos",
      toggled: false,
      fechaDia: null,
      fechaMes: null,
      fechaYear: null,
      continentes:[
        "todos",
        "europa",
        "asia",
        "america",
        "africa",
      ],
      europa: [
        "Barcelona",
        "Lleida",
        "Zaragoza",
        "Sevilla",
        "Madrid",
        "Paris",
      ],
      asia:[
        "Lahore",
        "Beijing",
        "Kabul",
        "Tehran"
      ],
      america:[
        "Mountain View",
        "New Jersey",
        "Panama",
      ],
      africa:[
        "Lagos",
        "Cairo",
        "Luanda",
      ],
      monthNames: [
        "enero",
        "febrero",
        "marzo",
        "abril",
        "mayo",
        "junio",
        "julio",
        "agosto",
        "septiembre",
        "octubre",
        "noviembre",
        "deciembre"],
    }
  },
  components: {
    InfoMeteo
  }
}
</script>

<style>

</style>
